.game {
    width: 1025px;
    height: 840px;
    margin: 0 auto;
    position: relative;
}

.game img {
    width: 400px;

    position: absolute;
    top: 59px;
    left: 38px;
}

.game .choose-button button {
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px solid #27AE60;

    position: absolute;
    top: 89px;
    right: 53px;
}

.keyboard {
    width: 664px;
    height: 91px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    position: absolute;
    left: 221px;
    top: 600px;
}

.keyboard button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    color: #798A9F;
    border: 1px solid #7AA7C7;
    background-color: #9FAAB5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.keyboard-enabled {
    width: 664px;
    height: 91px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    position: absolute;
    left: 221px;
    top: 600px;
}

.keyboard-enabled button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    color: #39739D;
    border: 1px solid #7AA7C7;
    background-color: #E1ECF4;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.chosen-word {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    
    display: flex;

    position: absolute;
    top: 431px;
    right: 61px;
}

.wrong-answer {
    color: #FF0000;
}
.correct-answer {
    color: #27AE60;
}